<%- include("partials/header") %>

<% displayPostContent.forEach(function(newPost) { %>
    <h1> <%= newPost.title %> </h1>
      <p><%= newPost.content %> </p>
 <% }); %>



<%- include("partials/footer") %>